<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="/assets/css/main.css"> {% if site.favicon %}
    <link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %} {% if site.touch_icon %}
    <link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
</head>

<body>
    <header class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <img src="/assets/tadd_mencer-logo.png" alt="Tadd Mencer" class="logo">
                </div>
                <div class="col-xs-12 col-md-8">
                    <li class="primary-nav">
                        <ul>
                            <a href="">about</a>
                        </ul>
                        <ul>
                            <a href="">portfolio</a>
                        </ul>
                        <ul>
                            <a href="">contact</a>
                        </ul>
                        <ul>
                            <a href="">music</a>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
    </header>