<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N38DT75"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Header -->
  <header id="header">
    <a href="{{site.url}}" class="avatar"><img src="/assets/tm-logo-100.png" alt="" /></a>
    <h1><strong>I am Tadd.</strong><br />
      Creative writer, game designer,
      <br /> player of video games.
    </h1>
  </header>
