<a class="share" href="https://twitter.com/intent/tweet?text=&quot;{{ page.title }}&quot;%20&ndash;%20{{ site.canonical }}{{ page.url }}%20via%20&#64;{{ site.owner.twitter }}" data-dnt="true">Share</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- Twitter cards metadatas -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@vdaubry">
<meta name="twitter:creator" content="@vdaubry">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.canonical }}{{ page.canonical }}">
{% endif %}
{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
{% if page.header-img %}
  <meta name="twitter:image:src" content="{{ site.canonical }}/{{ page.image.feature }}">
{% endif %}