// Init variables
@import 'variables';

// Add library
@import 'library';

// Add Fonts
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');


.main-navigation {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    background-color:rgba(92, 87, 68, .15); // It's #5C5744 in RGB

    .primary-nav {
        color: #ADB9CA;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-size: 15px;

        a {
            display: block;
            padding: 20px 0;
            color: #ADB9CA;
            text-decoration: none;
        }
        ul {
        display: inline-block;
        padding: 0 20px;

        &:hover {
            border-bottom: 5px solid;
            background-color: $brand-primary;
        }
        }
    }

    .logo {
        padding: 15px 0 0;
    }

}

.Featured {
    height: 600px;
    background: url('/assets/space-design.jpg') center center no-repeat;
    background-size: cover;
}

.About-Me {

}